<div class="modal" [ngClass]="{ block: isvisible }">
  <div class="modal-content">
    <h2>Yeni Görev</h2>
    <div class="modal-input">
      <p>Görev Adı</p>
      <input type="text" [(ngModel)]="title" />
    </div>
    <div class="modal-input">
      <p>Durum</p>
      <select [(ngModel)]="selectedStatusId">
        <option value="-1" disabled>Durum Seçiniz...</option>
        <option
          *ngFor="let status of statusList; track: $index"
          [value]="status.id"
        >
          {{ status.title }}
        </option>
      </select>
    </div>
    <div class="buttons">
      <button (click)="addNewTask()">Ekle</button>
      <button (click)="close()">İptal</button>
    </div>
  </div>
</div>
